<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Song</title>

    <link href="/css/song.css" rel="stylesheet">
</head>
<body>
<h1>노래 목록</h1>

<div>

    <a href="add">추가</a>
</div>

<table class="list">
    <thead>
    <tr th:each="item : ${list}">
        <td><a href="@{view/{id}(id = ${item.idx})}" th:text="${item.title}"></a></td>
        <td th:text="${item.singer}"></td>
        <td th:text="${item.composer}"></td>
        <td th:text="${item.year}"></td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>새삥</td>
            <td>지코</td>
            <td>지코</td>
            <td>2022</td>
        </tr>
    </tbody>
</table>

</body>
</html>