<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>

    <link href="../register.css" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
</head>
<body>

<div class="container">
    <div class="my-4">
        <h2>회원가입</h2>
    </div>
    <form th:action="@{/member/register}" method="post" th:object="${member}">
        <div class="mb-3">
            <label for="userId" class="form-label">userId</label>
            <input type="text" class="form-control" id="userId" th:field="*{userId}">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="text" class="form-control" id="password" th:field="*{password}">
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}">
        </div>

        <div class="mb-3">
            <button type="submit" class="btn bnt-primary">회원가입</button>
        </div>
    </form>
</div>

</body>
</html>