<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>

    <link href="/css/update.css" rel="stylesheet">

</head>
<body>
<h1>글 수정</h1>

<div class="input">
    <form action="../update-save.do" method="post">
        <input type="hidden" name="id" th:value="${board.id}">
        <a>작성자</a>
        <div class="writer">
            <input type="text" name="username" class="writerInput" th:value="${board.username}">
        </div>

        <a>제목</a>
        <div class="writeTitle">
            <input type="text" name="title" class="writeInput" th:value="${board.title}">
        </div>

        <a>내용</a>
        <div class="content">
            <input type="text" name="content" class="contentInput" th:value="${board.content}">
        </div>

        <div class="btn">
            <button>저장</button>
        </div>

    </form>
</div>

</body>
</html>