body {
    font-size: 1.2rem;
    color: #444;
}

h1 {
    text-align: center;
}

.write {
    display: flex;
}

a {
    margin-left: auto;
    margin-right: 730px;
}

.input {
    margin: 20px;
}

.input > div {
    margin: 10px;
}

.input label {
    display: inline-block;
    width: 8rem;
    text-align: right;
    margin-right: 3rem;
}

.input button {
    text-align: center;
}

.list {
    border-collapse: collapse;
}

.list td,th {
    border: 1px solid blue;
    padding: 5px;
    min-width: 100px;

}