table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid deeppink;
}
tr:hover { background-color: #fff0f3; }
h1 {
    padding: 0.7rem;
    border-left: 5px solid hotpink;
    /*background: #e3f2fd;*/
    background: #ffcfd8;
}


.button{
    /*background:#1AAB8A;*/
    /*color:#fff;*/
    background-color: #ffe9ee;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
button:hover{
    background: #ffe9ee;
    /*color: darkblue;*/
    outline-color: hotpink;
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:5px;
    width:0;
    background: #353a39;
    transition:400ms ease all;
}

button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}

