/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');*/

/*h1 {*/
/*    text-align: center;*/
/*}*/

/*.writer {*/
/*    display: flex;*/
/*    margin: 0px auto;*/
/*    height: 40px;*/
/*    width: 800px;*/
/*}*/

/*.writerInput {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.writeTitle {*/
/*    display: flex;*/
/*    margin: 10px auto;*/
/*    height: 40px;*/
/*    width: 800px;*/
/*}*/

/*.writeInput {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.content {*/
/*    display: flex;*/
/*    margin: 10px auto;*/
/*    height: 200px;*/
/*    width: 800px;*/
/*}*/

/*.contentInput {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*button {*/
/*    display: flex;*/
/*    justify-content: center;*/

/*    !*background-color: #FFEAB4;*!*/

/*    font-size: medium;*/
/*    font-weight: normal;*/

/*}*/

/*input {*/
/*    font-size: medium;*/
/*    font-weight: bold;*/
/*}*/

/*input::placeholder {*/
/*    font-size: medium;*/
/*    font-weight: bold;*/
/*}*/

/*button {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 68px;*/
/*    height: 38px;*/
/*    margin: 0px auto;*/
/*}*/