@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

h1 {
    text-align: center;
}

.writer {
    display: flex;
    margin: 0px auto;
    height: 40px;
    width: 800px;
}

.writerInput {
    width: 100%;
    height: 100%;
}

.writeTitle {
    display: flex;
    margin: 10px auto;
    height: 40px;
    width: 800px;
}

.writeInput {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    margin: 10px auto;
    height: 200px;
    width: 800px;
}

.contentInput {
    width: 100%;
    height: 100%;
}

button {
    display: flex;
    justify-content: center;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;

    /*color: #212529;*/
    /*bg-color: #ffc107;*/
    /*button-hover-bg-color: #e0a800;*/



}

.btn {
    display: flex;
    justify-content: center;
    margin-left: 755px;
}